:root{

--bg:#F7F5F2;
--surface:#ffffff;
--text:#1b1b1b;
--text-light:#707070;

--border:#dedede;

--max-width:1400px;

--space-xs:8px;
--space-s:16px;
--space-m:32px;
--space-l:64px;
--space-xl:120px;

}
